DEBUG=True
POSTGRES_HOST=localhost
POSTGRES_USER=postgres
POSTGRES_DB=journal
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5432
ALLOWED_HOSTS=*
CSRF_TRUSTED_ORIGINS=http://127.0.0.1:8000
SECRET_KEY=STRONG_KEY

DISCORD_BOT_TOKEN=bot-token
CHECK_IN_DISCORD_CHANNEL_ID=0
ABSENCE_DISCORD_CHANNEL_ID=0
HOLIDAY_DISCORD_CHANNEL_ID=0
JOURNAL_DISCORD_CHANNEL_ID=0
SUMMARY_DISCORD_CHANNEL_ID=0
